* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
   font-size: 16px;
}

body {
    background-color: #dad3c6;
}

h1 {
    margin: 1.2em auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fa4f4e;
    padding: 1.2em;
    gap: .5em;
    width: 18%;
    height: 300px;
    position: relative;
}

.title {
    text-align: center;
}

.pages {
    align-self: flex-end;
    position:absolute;
    bottom: 10px;
    color: #4A6069;
}